@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root
{
    --background-color-primary: #FFFFFF;
    --white: #FFFFFF;
    --red: #FF2626;
    /* --red: #FF0000; */
    --lightest-green: #BCE5C5;
    --light-green: #8EC29A;
    --medium-green: #638E6D;
    --dark-green: #415C47;
    --lightest-gray: #DCECDF;
    --light-gray: #ABB7AE;
    --medium-gray: #646C66;
    --dark-gray: #474D48;
    --lightest-red: #FF5252;
    --light-red: #F35858;
    --medium-red: #C73D3D;
    --dark-red: #7E2020;
    --dark-contrast: #21232E;
    --background-color-secondary: #DCECDF;
    /* --title-background: var(--dark-contrast); */
    --standard-gap: 20px;
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body
{
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    background-color: var(--background-color-primary);
    color: var(--dark-contrast);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1
{
    font-weight: 700;
    font-size: 20vh;
    font-style: italic;
}

#title-screen
{
    width: 100vw;
    height: calc(100vh - var(--standard-gap) * 2);
    min-height: 680px;
    background-color: var(--white);
    /* background: linear-gradient(
        to bottom,
        var(--white) 0%,
        var(--white) 50%,
        var(--red) 100%
    ); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--dark-contrast);
}

.logo-area
{
    /* background-color: #00000022; */
    position: relative;
    max-width: 600px;
    width: 75vw;
    height: 25vw;
    max-height: 200px;
    opacity: 0%;
    animation: fade-in 1.5s ease-out forwards;
}

.big-logo
{
    /* background-color: #00000022; */
    position: relative;
    width: 120%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    fill: var(--dark-contrast);
}

@keyframes fade-in
{
    0%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}

#crosshair path, .logo-flags path, #bottom-segment path
{
    transition-duration: 500ms;
}

#a-crossing
{
    transition-duration: 500ms;
    transform-origin: 10% 50%;
}

#crosshair-horizontal
{
    transition-property: x, width, fill;
    transition-duration: 500ms;
}

#crosshair-vertical
{
    transition-property: y, height, fill;
    transition-duration: 500ms;
}

#knife
{
    /* transform-origin: 13% 22%; */
    /* transform-origin: 136px 78px; */
    transform-box: fill-box;
    transform-origin: center;
}

#knife.ready
{
    animation: knife-ready 500ms ease forwards;
}

#knife.throw
{
    animation: knife-throw 350ms cubic-bezier(0.15, 0, 0.15, 0) forwards; /* cubic-bezier(0.15, 0, 0.15, 0) */
}

#knife.return
{
    animation: knife-return 500ms ease forwards;
}

#target
{
    transform: scale(0);
    transform-origin: 45.75% 21%;
}

#target.ready
{
    animation: target-ready 500ms ease forwards;
}

#target.return
{
    animation: target-return 500ms ease forwards;
}

@keyframes knife-ready {
    0% 
    {
        transform: translateX(0px) rotate(0deg);
        fill: var(--dark-contrast);
    }
    100%
    {
        transform: translateX(-100px) rotate(-100deg);
        fill: var(--red);
    }
}

@keyframes knife-throw {
    0%
    {
        transform: translateX(-100px) rotate(-100deg);
        fill: var(--red);
    }
    100%
    {
        /* transform: translate(280px, 10px) rotate(355deg); */
        transform: translate(var(--destX), calc(10px + var(--destY))) rotate(355deg);
        fill: var(--red);
    }
}

@keyframes knife-return {
    0%
    {
        transform: translateX(0px) rotate(-360deg) scale(0);
        fill: var(--red);
    }
    100%
    {
        transform: translateX(0px) rotate(0deg) scale(1);
        fill: var(--dark-contrast);
    }
}

@keyframes target-ready {
    0%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes target-return {
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(0);
    }
}

/* #bottom-segment path
{
    transition-duration: 500ms;
} */

#a-slice, #r-1-slice, #m-1-slice, #m-2-slice, #m-3-slice, #o-slice, #r-2-slice, #y-slice
{
    position: absolute;
    height: 60%;
    top: 20%;
}

.slice-fall
{
    animation: slice-rotate 500ms ease forwards, slice-fall 350ms cubic-bezier(0.75, 0.1, 1, 1) 1s forwards;
}

.slice-return
{
    animation: slice-return 750ms ease forwards;
}

@keyframes slice-rotate 
{
    0%
    {
        transform: rotate(0deg);
        fill: var(--dark-contrast);
    }
    100%
    {
        transform: rotate(30deg);
        fill: var(--red);
    }
}

@keyframes slice-fall 
{
    0%
    {
        transform: translateY(0px) rotate(30deg) ;
    }
    100%
    {
        transform: translateY(200px) rotate(30deg);
    }
}

@keyframes slice-return
{
    0%
    {
        transform: translateY(200px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

#section-divider
{
    width: 100vw;
    height: var(--standard-gap);
    background-color: var(--dark-contrast);
    z-index: 1;
    position: sticky;
    bottom: 0px;
}

#nav-bar
{
    height: 60px; 
    width: fit-content; 
    position: sticky; 
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-color-secondary);
    gap: var(--standard-gap);
    padding: var(--standard-gap);
    margin: var(--standard-gap);
    z-index: 10;
    /* border: 10px;
    border-color: var(--white);
    border-style: solid; */
}

#nav-highlight
{
    position: absolute;
    height: calc(100% - var(--standard-gap) * 2);
    backdrop-filter: invert(100%);
    transition-property: width, left;
    transition-duration: 500ms;
    pointer-events: none;
}

.nav-item
{
    height: auto;
    width: auto;
    cursor: crosshair;
    transition: color 125ms;
}

.nav-label
{
    font-size: 30px;
}

#body-section
{
    background-color: var(--white);
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#content-section
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: opacity 250ms;
}

/* #about-section
{
    max-width: 80%;
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
} */



#launchcodes-logo
{
    fill: var(--dark-contrast);
    width: 40%; 
    padding: var(--standard-gap);
    margin-bottom: 10px;
}

.tour-highlight-area
{
    position: absolute;
    /* background-color: var(--dark-contrast);
    opacity: 0%; */
    
}

.tour-highlight-area > div
{
    background-color: var(--dark-contrast);
    opacity: 0%;
    transition-duration: 500ms;
    width: 100%;
    height: 100%;
    position: absolute;
}

.tour-highlight-area > video
{
    width: 100%;
    transition: opacity 500ms;
    position: absolute;
    opacity: 0%;
}

.red-corner
{
    position: absolute;
    width: 1%;
    /* left: 0%;
    top: 0%; */
    /* aspect-ratio: 1; */
    transition-duration: 500ms;
    opacity: 0%;
}

#tour-scroll-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 15vw;
    /* padding-left: 200px;
    padding-right: 200px; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background-color: var(--light-gray);
    scroll-behavior: smooth;
}

#tour-scroll-menu::-webkit-scrollbar {
    display: none;
  }

#tour-scroll-menu div
{
    scroll-snap-align: center;
    height: 75px;
    min-width: 7vw;
    background-color: var(--dark-red);
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer
{
    width: 100vw;
    height: 100px;
    background-color: var(--dark-contrast);
    color: var(--white);
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* CSS PROPERTY CLASSES */

.flex-column
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-evenly
{
    justify-content: space-evenly;
}

.space-between
{
    justify-content: space-between;
}

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;
}

.dark-blue-background
{
    background-color: var(--dark-contrast);
}

.light-background
{
    background-color: var(--background-color-secondary);
}

.white-background
{
    background-color: var(--white);
}

.lightest-green-background
{
    background-color: var(--lightest-green);
}

.light-green-background
{
    background-color: var(--light-green);
}

.medium-green-background
{
    background-color: var(--medium-green);
}

.dark-green-background
{
    background-color: var(--dark-green);
}

.lightest-green-background
{
    background-color: var(--lightest-green);
}

.light-green-background
{
    background-color: var(--light-green);
}

.medium-green-background
{
    background-color: var(--medium-green);
}

.dark-green-background
{
    background-color: var(--dark-green);
}

.lightest-gray-background
{
    background-color: var(--lightest-gray);
}

.light-gray-background
{
    background-color: var(--light-gray);
}

.medium-gray-background
{
    background-color: var(--medium-gray);
}

.dark-gray-background
{
    background-color: var(--dark-gray);
}

.lightest-red-background
{
    background-color: var(--lightest-red);
}

.light-red-background
{
    background-color: var(--light-red);
}

.medium-red-background
{
    background-color: var(--medium-red);
}

.dark-red-background
{
    background-color: var(--dark-red);
}

.medium-gap
{
    /* gap: 20px; */
    gap: var(--standard-gap);
}

.medium-padding
{
    /* padding: 20px; */
    padding: var(--standard-gap);
}

.medium-margin
{
    /* margin: 20px; */
    margin: var(--standard-gap);
}

.vertically-spaced
{
    margin: 100px;
}

.z-1
{
    z-index: 1;
}

.z-10
{
    z-index: 10;
}

.width-80
{
    width: 80%;
}

.width-100
{
    width: 100vw;
}

.height-max80
{
    height: 80vh;
    min-height: 600px;
}

.height-100
{
    height: 100vh;
}

.fit-content
{
    width: fit-content;
}

/* .scroll-container
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.scroll-align
{
    scroll-snap-align: center;
    scroll-snap-stop: always;
} */

.red-gradient
{
    background: linear-gradient(
        to bottom,
        var(--white) 0%,
        var(--white) 70%,
        var(--red) 100%
    );
}